@using WebApplication.Models
@model IndexNotesViewModal
@using Core.Helpers;

@{
    ViewData["Title"] = "Notes";
}

@section Styles
{
  <link rel="stylesheet" href="~/css/notesPageStyle.css">   
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
}
  <div class="py-5" id = "notesPage">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
            <div class="row">
              <div class="col-md-12">
                <a asp-action="Index" asp-controller="Notes" asp-route-IsFinished = "All"><li class="border-0 list-group-item d-flex justify-content-between align-items-center"> <i class="fa fa-list-alt text-muted fa-lg"> All notes </i> <span class="badge badge-primary badge-pill">@ViewBag.CountOfAllNotes</span></li></a>
              </div>
            </div>
          <div class="row">
            <div class="col-md-12">
              <a asp-action="Index" asp-controller="Notes" asp-route-IsFinished = "Done"><li class=" border-0 list-group-item d-flex justify-content-between align-items-center">
                <i class="fas fa-clipboard-check text-muted fa-lg"> Done </i>
                <span class="badge badge-primary badge-pill">@ViewBag.CountOfDoneNotes</span></li></a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <a asp-action="Index" asp-controller="Notes" asp-route-IsFinished="InProgress" >
              <li class=" border-0 list-group-item d-flex justify-content-between align-items-center">
                <i class="fas fa-fire text-muted fa-lg"> In progress </i><span class="badge badge-primary badge-pill">@ViewBag.CountOfProgressNotes</span></li></a>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-md-12">
              <div class="accordion" id="accordionExample">
                <button class="btn btn-link text-body w-100 d-flex btn-block ml-1" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <i class="fas fa-filter text-muted fa-lg"> Sort by </i></button>
                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                  <a asp-action = "Index" asp-controller="Notes" 
                  asp-route-SortOrder = "@(Model.SortNotesViewModal.NameSort)"><li class="border-0 list-group-item d-flex justify-content-between align-items-center ml-3"> <i class="fab fa-autoprefixer text-muted fa-lg">Name</i></li></a>
                  <a asp-action = "Index" asp-controller="Notes" 
                  asp-route-SortOrder = "@(Model.SortNotesViewModal.CreatedSort)"><li class="border-0 list-group-item d-flex justify-content-between align-items-center ml-3"> <i class="fas fa-calendar-day text-muted fa-lg"> Created</i></li></a>
                  <a asp-action = "Index" asp-controller="Notes" 
                  asp-route-SortOrder = "@(Model.SortNotesViewModal.DeadlineSort)"><li class="border-0 list-group-item d-flex justify-content-between align-items-center ml-3"> <i class="fas fa-stopwatch text-muted fa-lg"> Deadline</i></li></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9">
        <div class="d-inline-flex w-100 flex-row align-items-baseline">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-4 d-inline-flex">
                <a class="btn btn-secondary text-center text-uppercase text-light" asp-asp-controller="Notes" asp-action="Create" id="AddNote"><b>Add note</b></a></div>
            </div>
          </div>
          <div class="col-md-6">
            <form asp-action="NotesForSubject" asp-controller="Notes" class="form-inline">
              <div class="form-group w-100 d-inline-flex">
                <select class="form-control w-50" name="subject" type="text">
                  <option>All subjects</option>
                  @foreach (var i in @ViewBag.subjectsList)
                  {
                      <option>@i</option>
                  }
                </select>
                <button type="submit" class="btn btn-primary w-25">Submit</button>
              </div>
            </form>
          </div>
        </div>
          <div class="row">
            @foreach (var note in Model.Notes)
            {
            <div class="col-md-4">
              <div class="card my-2">
                <div class="card-header d-flex bg-secondary text-light justify-content-between">
                  <a  class="text-light" type="button" asp-action="Edit" asp-route-id = "@note.Id"><b>@note.Name</b></a>
                  <input type="hidden" name="Name" value= "@note.Name"/>
                  <form asp-action="Delete" asp-route-id = "@note.Id">
                  <button class="btn" type="submit"><i class="fas fa-trash mt-1 text-danger" data-toggle="tooltip" title="Delete"></i>
                  </button>
                  </form>
                </div>
                <div class="card-body">
                  <p class="text-truncate">@note.Materials</p>
                </div>
                <div class="card-footer d-flex flex-column">
                  <p class="text-truncate row"><b class="mx-auto">@note.SubjectID</b></p>
                  <p class="text-truncate row"><b class="mx-auto">@TimeHelper.TimeCreated(note.Created) ago</b></p>
                </div>
              </div>
            </div>
            }
          </div>
          @if (Model.NotesPaginationViewModal.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.NotesPaginationViewModal.PageNumber - 1)"
       asp-route-SortOrder="@(Model.SortNotesViewModal.Current)"
       class="btn  btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Previous
    </a>
}
@if (Model.NotesPaginationViewModal.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.NotesPaginationViewModal.PageNumber + 1)"
       asp-route-SortOrder="@(Model.SortNotesViewModal.Current)"
       class="btn btn-outline-dark">
        Next
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}
        </div>
      </div>
    </div>
  </div>